body {
    background-color: #2D2D2D;
}

h1 {
    color: #C26356;
    font-size: 30px;
    font-family: Menlo, Monaco, fixed-width;
}

p {
    color: white;
    font-family: "Source Code Pro", Menlo, Monaco, fixed-width;
}

.centered {
    text-align: center;
}
